*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #242d34;
}
#xlogo{
    margin-top: 5px;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: black;
    border-radius: 20px;
    border: 1px solid rgb(22, 22, 22);
    border: none;
    width: 600px;
    height: 650px;
    margin-top: 40px;
    padding-top: 1px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    margin-right: 19%;
    margin-top: 5%;
    color: white;
    font-size: 30px;
}
.GA{
    margin-top: 20px;
    padding:5px;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    width: 300px;
}
.btn{
    margin-top: 17px;
}
.btnicons{
    padding-right: 2px;
}
p{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border: none;
    width: 20px;
    height: 20px;
    background-color: rgb(8, 8, 8);
    color: white;
    position: relative;
    bottom: 10px;
}
hr{
    border: 1px solid rgb(59, 52, 52);
    height: 0px;
    border-color:rgb(75, 71, 71);
    width: 48%;
    margin-top: 1%;
}
input{
    
    background-color: black;
    color: white;
    border-color: rgb(109, 109, 116);
    font-size: 17px;
    width: 300px;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#create{
    margin-top: 25px;
    padding:8px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    width: 300px;
}
.forget{
    margin-top: 25px;
    padding:8px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(11, 11, 11);
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(134, 131, 131);
    width: 300px;
}
small{
    color: rgb(66, 61, 61);
    font-size: medium;
    font-weight: 400;
    margin-top: 50px;
    margin-right: 80px;
}
a{
    text-decoration: none;
    color: rgb(5, 142, 234);
}
a:hover{
    text-decoration: underline;
}
input:hover{
    border-color: rgb(5, 142, 234);
}
.GA:hover{
    background-color: rgb(226, 213, 213);
}
#create:hover{
    background-color: rgb(226, 213, 213); 
}
.forget:hover{
    background-color: rgb(20, 16, 16);
}